@import 'main.css';
@charset "utf-8"; 

@font-face {
      font-family: "Open Sans";
      src: url("../fonts/Open_Sans/OpenSans-Regular.ttf")
    }
@font-face {
      font-family: "Roboto";
      src: url("../fonts/Roboto/Roboto-Regular.ttf")
    }
@font-face {
      font-family: "Lato regular";
      src: url("../fonts/Lato/Lato-Regular.ttf")
    }
@font-face {
      font-family: "Lato bold";
      src: url("../fonts/Lato/Lato-Bold.ttf")
    }
@font-face {
      font-family: "Lato light";
      src: url("../fonts/Lato/Lato-Light.ttf")
    }


html {
  height: 100%;
  box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Lato regular', sans-serif;
    background: rgb(244, 244, 244);
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}
h1 {
    font-size: 4em;
    font-family: 'Lato bold', sans-serif;
    color: rgba(51, 133, 185, 0.9);
}
h2 {
    font-family: 'Lato bold', sans-serif;
    color: rgba(51, 133, 185, 0.9);
}
h3 {
    font-family: 'Lato regular', sans-serif;
}
/*navi*/
.navbar {
    padding-bottom: 0px;
}
.navbar-default .navbar-nav > li > a{
    color: #909090;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(51, 133, 185, 0.9);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.navbar-brand img {
    height: 65px;
}
.navbar-nav {
    margin-top: 30px;
    width: 100%;
    font-size: 1.2em;
}
.navbar-nav a {
    margin-left: 13px;
}
.navbar-collapse.in {
    overflow: hidden;
    max-height: none !important;
    height: auto !important;
}
/*home*/
#offer {
    padding-top: 150px;
    padding-bottom: 100px;
}
.box {
    position: relative; 
    height: 420px;
    border: rgb(244, 244, 244) solid 6px;
}
.box h2 {
    margin-left: 30px;
    padding-top: 40px;
    color: rgb(244, 244, 244);;
    font-size: 3em;
}
.box p {
    max-width: 70%;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 25px;
}
.box button {
    position: absolute;
    bottom: 30px;
    left: 40px;
    background: rgba(112, 179, 221, 0.9);
    font-family: 'Lato light', sans-serif;
    color: rgb(244, 244, 244);
    border: rgb(244, 244, 244) 1px solid;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition-duration: 0.5s; 
    transition-duration: 0.5s;
}
.box button:hover {
    background-color: rgba(45, 132, 186, 0.9);; 
    color: white;
}
.chela-box {
    background-color: rgba(112, 179, 221, 0.9);
}
.chela-box p {
    max-width: 50%;
}
.box img {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 409px;
}
.ozon-box {
    background-color: rgba(51, 133, 185, 0.9);
}
.homeo-box {
    background-color: rgba(51, 133, 185, 0.9);
}
.satro-box {
    background-color: rgba(23, 101, 150, 0.9);
}
.witac-box {
    background-color: rgba(23, 101, 150, 0.9);
}
.alpha-box {
    background-color: rgba(23, 101, 150, 0.9);
}
/*sub-pages*/
.information {
    padding-top: 150px;
    padding-bottom: 100px;
}
.information h1{
    padding-bottom: 20px;
}
.information p, .information ul {
    font-size: 1.2em;
    padding-bottom: 40px;
}
/*chelation*/
#chelation {
    font-size: 1.2em;
}
/*ozone*/
#ozone {
    font-size: 1.2em;
}
/*homeopathy*/
#homeopathy {
    font-size: 1.2em;
}
/*hearth*/
#hearth {
    font-size: 1.2em;
}
#hearth img {
    margin-top: 150px;
}
/*witamin-c*/
#witamin-c {
    font-size: 1.2em;
}
/*acid*/
#acid {
    font-size: 1.2em;
}
/* about */
#about {
    padding-bottom: 20px;
    min-height: 100%;
}
#about h2{
       font-size: 4em;
    margin-bottom: 40px;
}
#about p{
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}
#about img {
    border-radius: 30px;
    box-shadow: 2px black ;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
}
@media (max-width: 768px) {
   #about img{
       margin-top: 20px;
       margin-bottom: 20px;
       width: 100%;
}
}

/* contact */
#contact {
    text-align: left;
    padding-bottom: 40px;
}
#contact h1 {
    font-size: 2em;
    padding: 0px;
    margin: 0px;;
    margin-top: 50px;
}
#contact h2{
    font-size: 4em;
}
#contact h3{
    margin: 0px;

}
#contact .name {
    text-align: left;
    font-size: 1.4em;
    padding-bottom: 20px;
}
#contact p{
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}
#contact iframe{
    border: 2px solid black;
    box-shadow: 2px black ;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    margin-top: 50px;
}
    @media (max-width: 768px) {
   #contact iframe{
       margin-top: 20px;
       width: 100%;
}
}

/* footer */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: aliceblue;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: #2e2e2e;
}


/*Media*/
@media (max-width: 1200px) {
    .navbar-nav a {
        margin-left: 0px;
        font-size: 0.9em;
}
}
@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
    .navbar {
        height: 100px;
    }
    #hearth img {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 2.6em;
    }
    .box {

    }
    .chela-box p {
    max-width: 100%;
}
}
@media (max-width: 395px) {
       .navbar {
        height: 60px;
}
    .navbar-brand img {
    height: 38px;
}
}
