@import 'main.css';
@charset "utf-8"; 

@font-face {
      font-family: "Open Sans";
      src: url("../fonts/Open_Sans/OpenSans-Regular.ttf")
    }
@font-face {
      font-family: "Roboto";
      src: url("../fonts/Roboto/Roboto-Regular.ttf")
    }
@font-face {
      font-family: "Lato regular";
      src: url("../fonts/Lato/Lato-Regular.ttf")
    }
@font-face {
      font-family: "Lato bold";
      src: url("../fonts/Lato/Lato-Bold.ttf")
    }
html {
  height: 100%;
  box-sizing: border-box;
}

body{
    background-color: white;
    font-size: 14px;
    font-family: 'Lato regular', sans-serif;
    background: rgb(244, 244, 244);
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

hr {
    width: 100%;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
}
h1 {
    font-size: 4em;
    font-family: 'Lato bold', sans-serif;
    color: rgba(51, 133, 185, 0.9);
}
h2 {
    font-family: 'Lato bold', sans-serif;
    color: rgba(51, 133, 185, 0.9);
}
/*navi*/

/*home*/

#offer {
    padding-top: 150px;
    padding-bottom: 100px;
}
.box {
    position: relative; 
    min-height: 320px;
    border: rgb(244, 244, 244) solid 6px;
}
.box h2 {
    margin-left: 30px;
    padding-top: 40px;
    color: white;
}
.box p {
    max-width: 70%;
    margin-left: 30px;
    margin-bottom: 20px;
}
.box button {
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.chela-box {
    background-color: rgba(112, 179, 221, 0.9);
}
.ozon-box {
    background-color: rgba(51, 133, 185, 0.9);
}
.homeo-box {
    background-color: rgba(51, 133, 185, 0.9);
}
.satro-box {
    background-color: rgba(23, 101, 150, 0.9);
}
.witac-box {
    background-color: rgba(23, 101, 150, 0.9);
}
.alpha-box {
    background-color: rgba(23, 101, 150, 0.9);
}

/*sub-pages*/
.information {
    padding-top: 100px;
    padding-bottom: 100px;
}
.information h1{
    padding-bottom: 20px;
}
.information p {
    font-size: 1.2em;
    padding-bottom: 40px;
}
/*chelation*/
#chelation {
    font-size: 1.2em;
}
/*ozone*/
#ozone {
    font-size: 1.2em;
}
/*homeopathy*/
#homeopathy {
    font-size: 1.2em;
}
/*hearth*/
#hearth {
    font-size: 1.2em;
}
#hearth img {
    margin-top: 150px;
}
/*witamin-c*/
#witamin-c {
    font-size: 1.2em;
}
/*acid*/
#acid {
    font-size: 1.2em;
}
/* about */
#about {
    text-align: center;
    padding-bottom: 20px;
    min-height: 100%;
}
#about h2{
    margin-bottom: 40px;
}
#about p{
    font-size: 1.3em;
}
#about img {
    border-radius: 30px;
    box-shadow: 2px black ;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.75);
}
@media (max-width: 768px) {
   #about img{
       margin-top: 20px;
       margin-bottom: 20px;
       width: 100%;
}
}

/* contact */
#contact {
    text-align: center;
    padding-bottom: 40px;
}
#contact h2{
    font-size: 2.7em
}
#contact h3{
    margin-bottom: 30px
}
#contact p{
    text-align: left;
    font-size: 1.3em
}
#contact iframe{
    border: 2px solid black;
    box-shadow: 2px black ;
    -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
    @media (max-width: 768px) {
   #contact iframe{
       margin-top: 20px;
       width: 100%;
}
}

/* footer */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: aliceblue;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: #2e2e2e;
}


/*rwd*/
@media (max-width: 768px) {
    #hearth img {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 2.6em;
    }
}